.App {
  text-align: center;
}
nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-height: 10vh;
     background: rgb(128, 139, 143);
     color: white;

}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.site-button-ghost-wrapper{
  padding: 26px 16px 16px;
      display: flex;
    justify-content: space-around;
}

